APP_NAME=blockchain_medical_record_service
APP_HTTP_PORT=9009
JWT_SECRET_KEY=blockchain_medical_record_service_awokawok

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=yusufwib
DATABASE_NAME=blockchain_medical_record
DATABASE_MAX_IDLE=20
DATABASE_MAX_CONN=50
DATABASE_CONN_LIFETIME=180
DATABASE_SLOW_LOG_THRESHOLD=6000